<div *ngIf="hero">
	<div >
    <h2>Héroe seleccionado: {{hero.name}}</h2>
    <h3>{{ hero.name | uppercase }} Details</h3>
    <div><span>id: </span>{{hero._id}}</div>
  </div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name">
    </label>
  </div>
  <button (click)="goBack()"><i class="far fa-arrow-alt-circle-left"></i>Back</button>
  <button (click)="save()"><i class="far fa-save"></i>Save</button>
  <button (click)="deleteHero()"><i class="far fa-trash-alt"></i>Delete</button>
</div>